<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="shortcut icon" href="/images/iconos/titleFN.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Great+Vibes&family=Pinyon+Script&family=Playfair+Display+SC:wght@700&family=Roboto:wght@300&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/stylesheets/styleProductDetail.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/header-style.css">
    <link rel="stylesheet" href="/stylesheets/footer-style.css">
    <link rel="stylesheet" href="/stylesheets/styleFormularios.css">
    
</head>

<body>
<%- include('./partials/headerFN') %>

    <main class="main-crearCuenta">  
        <section class="secciones">

        <h1 id="formularioTitulo">Cambiar Contrase単a</h1>   

        <% if (typeof errors != "undefined"){ %>
            <ul style="padding: 0;">
                <% for (var i= 0; i< errors.length ; i++) { %>
                    <li style="list-style: none; color:red"> <%= errors[i].msg %> </li>
                <%}%>
            </ul>
        <%}%>
        <% if(typeof errorAlLoguear != "undefined"){ %>
            <p style="color:red"><%= errorAlLoguear %></p>
        <% } %>           

        <div class="cajaFormularioRegistro">     
       
        <form action="/users/editarPassword/<%=usuario.id%>" method="POST" class="formRegistro">
            
            <p class="formulario">
                <label for="pass">Contrase単a Actual:</label></p>
                <p class="formulario">
                <input class="input1" type="password" name="password" id="pass">
            </p>
            <p class="formulario">
                <label for="repetirPass">Contrase単a Nueva:</label></p>             
                <p class="formulario">
                    <input type="password" name="newPassword" id="repetirPass">
                </p>
                <p class="formulario">
                    <label for="repetirPass">Repetir Contrase単a:</label></p>             
                    <p class="formulario">
                        <input type="password" name="newPassword2" id="repetirPass">
                    </p>

            <div class="divBotonCA">
                <button id="botonCA" type="submit" name="compra">Actualizar</button>
            </div>
        </form>
    </div>
</section>

    </main>

<%- include('./partials/footerFN') %>
    
</body>
</html>
