<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/iconos/titleFN.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Great+Vibes&family=Pinyon+Script&family=Playfair+Display+SC:wght@700&family=Roboto:wght@300&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/stylesheets/styleProductDetail.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/listado.css">
    <link rel="stylesheet" href="/stylesheets/header-style.css">
    <link rel="stylesheet" href="/stylesheets/footer-style.css">    
    <title>Listado de productos</title>
    
    <script>
        window.addEventListener("load",function(){
            console.log("Se cargó la pagina")
            let editar = document.querySelector(".editar");
            let borrar= document.querySelector(".borrar");

            editar.addEventListener("click", function(e){                
                let confirma= confirm("¿Quieres editar el producto seleccionado?")
                if (!confirma){
                    e.preventDefault()
                }                
            }); 
            borrar.addEventListener("click", function(e){
                let confirma= confirm("ADVERTENCIA! ¿confirma que desea ELIMINAR el producto seleccionado?")
                if (!confirma){
                    e.preventDefault()
                }       
            })

        });
    </script>
</head>

<body>
    
    <%- include('./partials/headerFN') %>

    <div class="div-main">      
    
        <div class="tabla">
            <div class="titulo">
                <h2>Producto</h2>
            </div>   
            <div class="titulo">
                <h2>Precio</h2>
            </div>
            <div  class="titulo"> 
                <h2>Descuento</h2>
            </div>
            <div  class="titulo">
                <h2>Acciones</h2>      
            </div>
        </div>    
      


        <div class="div-nombre-boton"> 
            <ul>
            
                <% for (let i=0; i < productos.length; i++) { %>     

                            <div class="container"> 
                                <div class="nombre">
                                    <h3><%=i + 1 +"."%> <%=productos[i].nombre%> </h3>   
                                </div>    
                                <div class="titulo">
                                    <h3>$<%=productos[i].precio%> </h3>   
                                </div>
                                <div class="titulo">
                                    <h3><%=productos[i].descuento%>%</h3> 
                                </div>

                                <div class="botones">          
                                    <a  class="ver" id="ver" href="/products/detail/<%=productos[i].id%>">  
                                      Ver |
                                    </a>  
                                    <a  class="editar" id="editar" href="/products/edit/<%=productos[i].id%>">
                                       Editar
                                    </a>

                                    <a  class="borrar" id="borrar" href="/products/borrar/<%=productos[i].id%>">    
                                        | Borrar
                                    </a>    
                                   
                                </div> 
                            </div>                                                 
                    
                <%  } %>
            </ul> 
    
        </div>  
    </div>


 
<%- include('./partials/footerFN') %> 

</body>
</html>
