<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <p> hola <%=usuarioEncontrado.nombre%></p>
        <p> este es tu email <%=usuarioEncontrado.email%> </p>
        <p>este es tu id de usuario: <%=usuarioEncontrado.id%></p>
        <p> acordate de configurar tu dirección</p>

        <ul>
            <li class="si admin">  <a href="/users/editPerfil/<%=usuarioEncontrado.id%>" class="opcion">Editar Perfil</a> </li>
            <li class="si">  <a href="/users/editPassword/<%=usuarioEncontrado.id%>" class="opcion">Editar Contraseña</a> </li>

            <li class="si admin">  <a href="/products/admin" class="opcion">Agregar Adiministrador</a> </li>

            <li class="si admin">  <a href="/products/listado" class="opcion">Administrar Productos</a> </li>
            <li class="si admin">  <a href="/products/add" class="opcion">Agregar Producto</a> </li>

            <li class="si">  <a href="/users/destroySession" class="opcion"> Cerrar Sesión</a> </li>
                   

                    
                   
        </ul>

        
</body>
</html>