<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <link rel="shortcut icon" href="/images/iconos/titleFN.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Great+Vibes&family=Pinyon+Script&family=Playfair+Display+SC:wght@700&family=Roboto:wght@300&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/stylesheets/styleProductDetail.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/header-style.css">
    <link rel="stylesheet" href="/stylesheets/footer-style.css">
    <link rel="stylesheet" href="/stylesheets/styleProductDetail.css">
</head>

<body>
    <%- include('./partials/headerFN') %>

    
 
    <main class="main-productDetail">              
        
        <h1 id="product-name"><%=product.nombre%></h1>   
      
        <div class= "detalle-producto" style="display: flex;">

            <article id="articulo">
                <div class="img-product">
                    <img id= "imagenDelproducto" src="/images/products/<%=product.imagenes[0].ruta%>" alt="Imagen del producto <%=product.nombre%>">
                </div>                          
            </article> 
            
                   
        <div class="div-desplazable" >
            <div class="div-color-talle" >
                <h3> <%=product.nombre%></h3>                
                <div id="datos">                    
                    <%if(product.descuento > 0 ) {%>
                        <p id="precio" >$<%=product.precio%></p> 
                        <p id="precioConDesc" > $<%=product.precio * (1- (product.descuento/100) ) %></p>                    
                        <p id="descuento"><%=product.descuento%>%</p>
                    <% } else { %>
                        <p id="precioConDesc" >$<%=product.precio%></p> 
                    <% } %>
                </div>     
                
                <div>
                    <p><%=product.descripcion%></p>
                </div>
            </div>
            
            
            <form action="/carts/agregar/<%=product.id%>" method="POST" class="met-pago">    
                <div id="met-pago">      
                 <button id="botonCA" type="submit" name="agrega" href="">Añadir al carrito</button><br>
                </div>
            </form> 
         
            
             <div class="texto-tarjeta" style="display: flex; flex-direction: column; ">
                    <p><b> Metodos de Pago</b></p>  
                    <span> Aceptamos todos los medios de Pagos</span>
                   <span> ¡Hasta 18 cuotas sin interés! </span><br>
                </div>
            <div class="tarjetas">                         
                <img class="img-tarjeta" src="/images/iconos/mercadopago.png" alt="">
                <img class="img-tarjeta" src="/images/iconos/visa.png" alt="">
                <img class="img-tarjeta" src="/images/iconos/rapipago.png" alt="">
                <img class="img-tarjeta" src="/images/iconos/provinciapagos.png" alt="">
                <img class="img-tarjeta" src="/images/iconos/americanexpress.png" alt="">            
                
                <img class="img-tarjeta" src="/images/iconos/pagofacil.png" alt="">
                <img class="img-tarjeta" src="/images/iconos/mastercard.png" alt="">

            </div>  
        </div>

 </div>

        <div class="detalles">
            <h2 id="titulos" whidh="100%">Detalles</h2>
                <p id="p-descripcion"><%=product.descripcion%></p>
        </div>  
     </div>  

    </main>   
    
    
<%- include('./partials/footerFN') %>
    
</body>
</html>