<!DOCTYPE html> 
    <html> 
        <head>
            <title>Agregar Producto</title>
            <meta charset="UTF-8">
            <link rel="shortcut icon" href="/images/iconos/titleFN.png" type="image/x-icon">
            <meta name="viewport" content= "width-device-width, initial-scale=1">
            <link rel = 'stylesheet' href ='/stylesheets/productAdd.css' />
            <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Great+Vibes&family=Pinyon+Script&family=Playfair+Display+SC:wght@700&family=Roboto:wght@300&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/stylesheets/styleProductDetail.css">
            <link rel="stylesheet" href="/stylesheets/header-style.css">
            <link rel="stylesheet" href="/stylesheets/footer-style.css">    
        </head>

    <body>
        <%- include('./partials/headerFN') %>
        <main>
            <section>                
                <div id="title"><span style="display: block;">DATOS DEL PRODUCTO</span></div>

                <form action = "/products/add" method="POST" enctype="multipart/form-data">
                    <input type = "text" name="nombre" placeholder="Nombre del Producto" required> <br>
                   
                    <div  id="sec">
                        <label for="categoria" style="font-size: 16; font-weight: bolder;">Categoría</label><br>
                        <select name="categoria" id="categoria">
                            <%for(let i=0 ; i < categorias.length ; i++) { %>     
                                 <option name="categoria" id="categoria" value="<%=categorias[i].id%>">
                                    <%=categorias[i].nombre%>
                                 </option>
                            <% } %>                     
                        </select>
                    </div>

                    <div  id="sec">
                        <input type = "text" name="marca" placeholder="Marca"><br>                                       
                    </div>
                    
                    <div  id="sec">
                      <input type = "number" name="precio" placeholder="Precio en pesos" required> <br>                 
                    </div>
                    <div  id="sec">
                     <input type ="number" name="descuento" placeholder="Descuento en %" required> <br>
                    </div>

                    <div id="sec" class="subcat">                
                        <select name="subcategoria" id="categoria">
                            <%for(let i=0 ; i < subcategorias.length ; i++) { %>     
                                 <option name="subcategoria" id="subcategoria" value="<%=subcategorias[i].id%>">
                                    <%=subcategorias[i].nombre%>
                                 </option>
                            <% } %>                     
                        </select>
                    </div> 

                    <div  id="sec" class="carga-img">
                        <label for="" style="font-size: 16; font-weight: bolder;">Subir imagenes del producto</label>
                        <input type="file" name="img-product" id="" style="border: none"><br>
                        <input type="file" name="img-product" id="" style="border: none"><br>
                    </div>

                    <div  id="sec">
                        <textarea name="descripcion" id="desc" rows="10">Descripción</textarea> <br>
                    </div>  

                    <div class="div-botones">
                         <button type="submit">Agregar</button>
                         <button type="reset">Resetear</button>
                    </div>
                </form>

            </section>    

        </main>
        <%- include('./partials/footerFN') %> 

    </body>