<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="shortcut icon" href="/images/iconos/titleFN.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Great+Vibes&family=Pinyon+Script&family=Playfair+Display+SC:wght@700&family=Roboto:wght@300&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/stylesheets/styleProductDetail.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/header-style.css">
    <link rel="stylesheet" href="/stylesheets/footer-style.css">
    <link rel="stylesheet" href="/stylesheets/styleFormularios.css">
    <script >
        window.addEventListener("load", function(){
    fetch("https://apis.datos.gob.ar/georef/api/provincias")
    .then(function(response){return response.json()})
    .then(function(data){
        console.log(data.provincias)

        let select = document.querySelector("select.selectProvincias")
        select.innerHTML += "<option value='<%=usuario.provincia%>' class='input1' selected><%=usuario.provincia%></option>"
        for(let i=0 ; i < data.provincias.length ; i++){
            select.innerHTML += "<option value='"+data.provincias[i].nombre+"'>"+data.provincias[i].nombre+"</option>"
        }
    })
})
    </script>
    
</head>

<body>
<%- include('./partials/headerFN') %>

    <main class="main-crearCuenta">  
        <section class="secciones">

        <h1 id="formularioTitulo">Editar Perfil</h1>   

        <% if (typeof errors != "undefined"){ %>
            <ul style="padding: 0;">
                <% for (var i= 0; i< errors.length ; i++) { %>
                    <li style="list-style: none; color:red"> <%= errors[i].msg %> </li>
                <%}%>
            </ul>
        <%}%>
        <% if(typeof errorAlLoguear != "undefined"){ %>
            <p style="color:red"><%= errorAlLoguear %></p>
        <% } %>           


        <div class="cajaFormularioRegistro">     
       
        <form action="/users/editPerfil/<%=usuario.id%>" method="POST" class="formRegistro">
            <p class="formulario">
                <label for="nombre">Nombre:</label>
            </p>
                <p class="formulario">
                <input class="input1" type="text" name="nombre" id="nombre" value= "<%=usuario.nombre%>" >
                <p >
                
            </p>
            <p class="formulario">
                <label for="nombre">Apellido:</label></p>
                <p class="formulario">
                <input class="input1" type="text" name="apellido" id="nombre" value= "<%=usuario.apellido%>" >
            </p>
            <p class="formulario">
                <label for="email">Email:</label></p>
                <p class="formulario">
                <input class="input1" type="email" name="email" id="email" value="<%=usuario.email%>" >
            </p>

          
            <p class="formulario">
                <label for="">Selecciona la provincia en la que recides:</label><br>
                <select name='provincias' class='selectProvincias input1'>
                </select>
            </p>
            
           
            <p class="formulario">
                <label for="">Dirección:</label><br>
                <input type="text" class="input1" name="direccion" id="direccion" placeholder="ingresa tu domicilio" value="<%=usuario.domicilio%>">
            </p>
            
           


            <div class="divBotonCA">
                <button id="botonCA" type="submit">Editar</button>
                <button id="botonCA" type="reset">Resetear</button>
            </div>
        </form>
    </div>
</section>

    </main>

<%- include('./partials/footerFN') %>
    
</body>
</html>
