<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Cuenta</title>
    <link rel="stylesheet" href="/stylesheets/header-style.css">
    <link rel="stylesheet" href="/stylesheets/footer-style.css">    
    <link rel="stylesheet" href="/stylesheets/micuenta.css">
</head>
<body>

    <%- include('./partials/headerFN') %>

    <div class="container">
    <main>
        <div>
            <div class="principal">

            <h1 class="saludo">¡Hola, <%=usuario.nombre%>!</h1>
            </div>

            <div class="opcionCuenta">
            <ul >
                
                <li class="user">  <a href="/users/editPerfil/<%=usuario.id%>" >Editar Perfil</a> </li>
                <li class="user">  <a href="/users/editPassword/<%=usuario.id%>">Editar Contraseña</a> </li>
            
                <% if (usuario.rol_id == 2){ %>
                <li class="admin">  <a href="/products/listado" >Administrar Productos</a> </li>
                <li class="admin">  <a href="/products/add" >Agregar Producto</a> </li>
                <li class="si admin">  <a href="/users/agregarAdmin" >Agregar Adiministrador</a> </li>
                <% } %>
                <li class="si">  <a href="/users/destroySession" > Cerrar Sesión</a> </li>
               

                        
                    
            </ul>
            </div>
        </div>
    </main>
</div>

        <%- include('./partials/footerFN') %> 
</body>
</html>